.hero_container{
    display:flex;
    justify-content: space-between;
    background-color: rgb(236, 77, 77);
    width:100%;
    height:100vh;
    overflow-y: hidden;
}
.left_hero_container{
    display:flex;
    top: 35vh;
    position:relative;
    margin-left: 70px;
    height:100%;
    color:white;
}
.left_hero_container .tex_wrapper{
    display: flex;
    flex-direction: column;
    
}
.hero_name{
    font-size:4rem;
    margin-bottom:0.5rem;
    margin-top:0.5rem;
}
.hero_iam{
    font-size:2rem;
    margin-bottom: 2px;
}
.hero_skill{
    font-size:2.5rem;
    margin-bottom: 0.5rem;
    margin-top:0.5rem;
}
.right_hero_container{
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    top:15vh;
    
}

.image_container{
    bottom:-1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    margin-right:5rem;

  
}

.btn_hero{
    width:9rem;
    height:3rem;
    background-color:white;
    margin-top:2rem;
    margin-right:2rem;
    color: rgb(236, 77, 77);
    font-size: 1rem;
    font-weight: 700;
    outline-color: none;
    border: 0 0 white;
    box-shadow: none;
    
}
.btn_hero:hover{
    background-color: rgb(236, 77, 77);
    transition: all ease-in 0.5s ;
    color: white;

}