.navbar{
    width: 100%;
    height: 4rem;
    display: flex;
    background-color: rgb(160, 32, 32);
    box-shadow: 10px 10px 10px rgb(229, 139, 139);
    position: relative;
    border-bottom: 0.3rem solid rgb(240, 6, 6);
}
.container-fluid{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left:-4rem;
    justify-content: space-between;
    height: 100%;
}

.navbar-brand{
    text-decoration: none;
    font-size: 2rem;
    margin-left:5rem;
    color:white;
    font-weight: 700;  
    
    
}

.toggle-btn{
    display: none;
    position: absolute;
    z-index: 999;
    top:0;
    right:0.2rem;
}
.toggle-btn button{
   width:2rem;
   height: 2rem;
}
.nav-item{
    text-decoration: none;
    font-size: 1rem;
    color:white; 
    height: 100%;
}

.item-wrapper{
    height: 70px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left:1.5rem;
    padding: 0 1rem;
}
.item-wrapper a{
    display: flex;
    justify-content:center;
    align-items: center;
    align-self: center;
}

.collapse .navbar-nav{
    height: 100%;
    display: flex;
}
.item-wrapper:hover{
    background-color: rgb(108, 11, 11);
    border-bottom-right-radius:15% ;
    border-bottom-left-radius:15% ;
    border-bottom: 0.3rem solid red ;
    box-shadow: 15 rgb(160, 32, 32) ;
}

@media (max-width:1165px) {
    .container-fluid{
        display:none;
        background-color: aliceblue;
    }
    .navbar{
        width: 25rem;
        height: 100%;
        display: flex;
        flex-direction:column;
        background-color: rgb(223, 215, 215);
        box-shadow: 10px 10px 10px rgb(219, 212, 212);
        position: relative;
        border-bottom: 0.3rem solid rgb(42, 40, 40);
    }
}